@tailwind base;
@tailwind components;
@tailwind utilities;

button , a{
    cursor: pointer;
}


@layer base{
    @font-face {
        font-family: 'iran-sans-bold' ;
        src: url(font/IRANSansXFaNum-Bold.ttf) format("truetype");
    }
    @font-face {
        font-family:'iran-sans-light' ;
        src: url(font/IRANSansXFaNum-Light.ttf) format("truetype");
    }
}
